body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:873px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u673 {
  position:absolute;
  left:71px;
  top:120px;
  width:375px;
  height:667px;
  font-size:18px;
  color:#666666;
}
#u674 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676 {
  position:absolute;
  left:70px;
  top:120px;
  width:376px;
  height:40px;
}
#u677 {
  position:absolute;
  left:2px;
  top:12px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u679 {
  position:absolute;
  left:77px;
  top:135px;
  width:6px;
  height:8px;
}
#u680 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u681 {
  position:absolute;
  left:87px;
  top:135px;
  width:6px;
  height:8px;
}
#u682 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u683 {
  position:absolute;
  left:97px;
  top:135px;
  width:6px;
  height:8px;
}
#u684 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u685 {
  position:absolute;
  left:107px;
  top:135px;
  width:6px;
  height:8px;
}
#u686 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:8px;
}
#u687 {
  position:absolute;
  left:117px;
  top:135px;
  width:6px;
  height:8px;
}
#u688 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690 {
  position:absolute;
  left:408px;
  top:132px;
  width:27px;
  height:17px;
}
#u691 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u692 {
  position:absolute;
  left:413px;
  top:137px;
  width:17px;
  height:7px;
}
#u693 {
  position:absolute;
  left:2px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694 {
  position:absolute;
  left:435px;
  top:137px;
  width:4px;
  height:7px;
}
#u695 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u696 {
  position:absolute;
  left:130px;
  top:131px;
  width:63px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u698 {
  position:absolute;
  left:241px;
  top:133px;
  width:80px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u700 {
  position:absolute;
  left:367px;
  top:133px;
  width:80px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u703 {
  position:absolute;
  left:117px;
  top:729px;
  width:50px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u704 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u705 {
  position:absolute;
  left:377px;
  top:729px;
  width:50px;
  height:50px;
  font-size:18px;
  color:#949494;
}
#u706 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u707 {
  position:absolute;
  left:70px;
  top:722px;
  width:376px;
  height:1px;
}
#u708 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709 {
  position:absolute;
  left:100px;
  top:170px;
  width:317px;
  height:36px;
}
#u710 {
  position:absolute;
  left:2px;
  top:10px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u711 {
  position:absolute;
  left:194px;
  top:178px;
  width:21px;
  height:21px;
}
#u712 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  position:absolute;
  left:244px;
  top:180px;
  width:30px;
  height:18px;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u715 {
  position:absolute;
  left:100px;
  top:216px;
  width:43px;
  height:43px;
}
#u716 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u717 {
  position:absolute;
  left:156px;
  top:216px;
  width:30px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u719 {
  position:absolute;
  left:156px;
  top:247px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  position:absolute;
  left:347px;
  top:227px;
  width:74px;
  height:21px;
}
#u722 {
  position:absolute;
  left:2px;
  top:3px;
  width:70px;
  word-wrap:break-word;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u723 {
  position:absolute;
  left:107px;
  top:285px;
  width:111px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u725 {
  position:absolute;
  left:100px;
  top:274px;
  width:321px;
  height:1px;
}
#u726 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u727 {
  position:absolute;
  left:70px;
  top:48px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u729 {
  position:absolute;
  left:111px;
  top:494px;
  width:101px;
  height:18px;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u731 {
  position:absolute;
  left:111px;
  top:544px;
  width:134px;
  height:18px;
}
#u732 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u733 {
  position:absolute;
  left:111px;
  top:572px;
  width:110px;
  height:18px;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u735 {
  position:absolute;
  left:111px;
  top:518px;
  width:159px;
  height:18px;
}
#u736 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u737 {
  position:absolute;
  left:111px;
  top:314px;
}
#u737_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u737_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u739 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u740 {
  position:absolute;
  left:143px;
  top:129px;
  width:15px;
  height:15px;
}
#u741 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u742 {
  position:absolute;
  left:118px;
  top:129px;
  width:15px;
  height:15px;
}
#u743 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u744 {
  position:absolute;
  left:168px;
  top:129px;
  width:15px;
  height:15px;
}
#u745 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u737_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u747 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u748 {
  position:absolute;
  left:143px;
  top:129px;
  width:15px;
  height:15px;
}
#u749 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u750 {
  position:absolute;
  left:118px;
  top:129px;
  width:15px;
  height:15px;
}
#u751 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u752 {
  position:absolute;
  left:168px;
  top:129px;
  width:15px;
  height:15px;
}
#u753 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u737_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u754 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u755 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u756 {
  position:absolute;
  left:143px;
  top:129px;
  width:15px;
  height:15px;
}
#u757 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u758 {
  position:absolute;
  left:118px;
  top:129px;
  width:15px;
  height:15px;
}
#u759 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u760 {
  position:absolute;
  left:168px;
  top:129px;
  width:15px;
  height:15px;
}
#u761 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u762 {
  position:absolute;
  left:100px;
  top:600px;
  width:321px;
  height:1px;
}
#u763 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u764 {
  position:absolute;
  left:100px;
  top:611px;
  width:43px;
  height:43px;
}
#u765 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u766 {
  position:absolute;
  left:156px;
  top:611px;
  width:30px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u767 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u768 {
  position:absolute;
  left:156px;
  top:639px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u769 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u770 {
  position:absolute;
  left:111px;
  top:663px;
  width:289px;
  height:18px;
}
#u771 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:667px;
}
#u772 {
  position:absolute;
  left:525px;
  top:120px;
  width:348px;
  height:667px;
  font-size:28px;
}
#u773 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
